:root {
  --primary-color: #9f83fb;
  --secondary-color: #585DE0;
  --third-color: #6290FC;
  --white-color: #FFFFFF;
  --black-color:#121217;
  --dark-color: #23232e;
  --grey-color: #626271;
  --yellow-color: #FFCA5C;
  --gradient: linear-gradient(144.64deg, #9D61FD -34.48%, #EFBFD5 113.76%);
  --main-radius: 25px;
  --large-radius: 30px;
  --shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --shadow-small: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Ubuntu', sans-serif;
  color: var(--white-color);
}
html {
  font-size: 10px;
}

body {
  background: var(--black-color);
  padding: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, minmax(4rem, 1fr));
  gap: 1rem;
  height: 95vh;
  max-width: 1920px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  padding: 0 2rem;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
}

strong {
  color: var(--primary-color);
}


.section {
  background-color: var(--dark-color);
  border-radius: var(--main-radius);
  box-shadow: var(--shadow);
}

.section_scrollable {
  overflow-y: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: .1px;
  background: var(--dark-color);
  border-radius: var(--large-radius);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--large-radius);
}

#title-section {
  grid-column: 1/ span 6;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 2fr .1fr;
}

.title-section_title {
  background-image: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-section_language-toggle {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: 3rem;
  gap: .1rem;
}

.title-section_language-flag {
  border-radius: 0 var(--main-radius) 0 0;
  background: var(--grey-color);
  cursor: pointer;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.title-section_language-flag:nth-of-type(2) {
  border-radius: 0 0 var(--main-radius) 0;
}

.title-section_language-flag[data-active='true'] {
  background: var(--gradient);
}

#name-section {
  grid-column: 7/ span 2;
  grid-row: 1/ 4;
  display: flex;
  align-items: center;
}

.name-section_title {
  text-align: center;
  margin: 0 auto;
}

.name-section_age {
  display: block;
  font-size: 2rem;
  color: var(--grey-color);
}

#photo-section {
  grid-column: 9/-1;
  grid-row: 1/ span 6;
  background: var(--primary-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.photo-section_avatar {
  max-width: 90%;
  height: auto;
}

.cta-button {
  background: var(--secondary-color);
  width: 50%;
  height: 5rem;
  border-radius: var(--main-radius);
  box-shadow: var(--shadow-small);
  font-size: 2rem;
  color: var(--white-color);
  text-decoration: none;
  transition: .3s ease;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cta-button:hover {
  box-shadow: var(--shadow);
  transform: scale(102%);
}

.cta-button:active {
  box-shadow: none;
}

#links-section {
  display: flex;
  grid-column: 9/-1;
  grid-row: 7 / 9;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

svg {
  width: 4rem;
  aspect-ratio: 1/1;
}

.link-hoverable_cv {
  font-size: 3rem;
  color: var(--white-color);
  text-decoration: none;
}

.link-hoverable_cv:hover {
  color: var(--primary-color);
}

#squares-section {
  grid-column: 1 / span 8;
  grid-row: 4/9;
  background: none;
}

.square-collection {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.square-item {
  background: var(--third-color);
  border-radius: var(--large-radius);
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.square-item:last-of-type {
  flex-grow: 2;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.square-item_number {
  font-weight: bolder;
  color: var(--black-color);
}

.square-item_number:hover {
  background-position: 100% 75%;
}

.square-item_span {
  font-size: 2rem;
  display: block;
  color: var(--black-color);
  text-align: center;
}

.v-cheap {
  border-radius: var(--main-radius);
  cursor: default;
  color: var(--black-color);
  box-shadow: var(--shadow-small);
  padding: 1rem;
  font-size: 1.5rem;
  transition: .3s ease;
}

.v-cheap_language {
  background: var(--gradient);
}

.v-cheap_language::before {
  content: '👨‍💻 ';
}

.v-cheap_framework {
  background: var(--primary-color);
}

.v-cheap_framework::before {
  content: '🚀 ';
}

.v-cheap_tool {
  background: var(--secondary-color);
  color: var(--white-color);
}

.v-cheap_tool::before {
  content: '🛠️ ';
}

.v-cheap:hover {
  box-shadow: var(--shadow);
  transform: scale(102%);
}

#experience-section {
  grid-column: 1/ -1;
  min-height: 50rem;
}

.experience-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) ) ;
  align-items: center;
  padding: 2rem;
  border-bottom: var(--primary-color) dotted;
}

.experience-item:last-of-type {
  border: none;
}

.experience-item_tag-container {
  margin-bottom: 1rem;
  display: flex;
  gap: .5rem;
}

.experience-item_tag {
  background: var(--grey-color);
  border-radius: var(--main-radius);
  display: inline;
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
}

.experience-item > ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experience-item > ul > li {
  list-style-type: '💪 ';
  font-size: 2rem;
  font-weight: bolder;
  color: var(--white-color);
}

.experience-item > ul > li:hover {
  color: var(--primary-color);
}

.experience-item_year,
.experience-item_position {
  color: var(--grey-color);
  font-size: 2rem;
  font-weight: normal;
}

#about-section {
  grid-column: 1/-1;
  min-height: 50rem;
  padding: 0 2rem;
}

.about_title {
  font-weight: bolder;
  color: var(--primary-color);
}

.about_description {
  color: var(--white-color);
  font-size: 2rem;
}

@media screen and (min-width: 1280px) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  p {
    font-size: 3rem;
  }

  #title-section {
    grid-column: 1/ span 6;
    grid-row: 1/2;
  }

  .title-section_language-flag {
      font-size: 1.5rem;
  }

  #name-section {
    grid-column: 7/ span 2;
    grid-row: 1/2;
  }

  .name-section_age {
    text-align: right;
  }

  #photo-section {
    grid-column: 9/12;
    grid-row: 1/4;
  }

  svg {
    width: 8rem;
  }

  #squares-section {
    grid-column: 1 / span 8;
    grid-row: 2/4;
  }

  #experience-section {
    grid-column: 1/ span 7;
    grid-row: 4/-1;
  }

  #about-section {
    grid-column: 8/-1;
    grid-row: 4/-1;
  }

  .square-item {
    font-size: 8rem;
  }

  .square-item_span {
    font-size: 3rem;
  }

  #links-section {
    grid-column: -2/-1;
    grid-row: 1/4;
    flex-direction: column;
  }

  .link-hoverable_cv {
    font-size: 6rem;
  }

}

@media screen and (min-width: 1510px) {
  .v-cheap {
    font-size: 2.5rem;
  }
  .title-section_title {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1920px) {
  .v-cheap {
    font-size: 3rem;
  }
}